.contactinfo {
  display: flex;
  color: #80ff80;
  align-items: center;
}

/*********************** RESPONSIVE ***********************/

@media only screen and (max-width: 768px) {
  .contactbox {
    flex-direction: column;
    padding-left: 4rem;
  }
}
