img {
  justify-content: center;
  height: 40vh;
}

.textBox {
  color: #80ff80;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-7 {
    max-width: none;
    margin-top: 4rem;
  }
}

.wallText {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 9rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#141b18, rgb(44, 52, 44));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .wallText {
    font-size: 4rem;
  }
}
