.wallword {
  position: absolute;
  bottom: 8px;
  right: 105vw;
  font-size: 9rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#141b18, rgb(12, 95, 32));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.workcard {
  padding: 1rem;
  border: solid 1px #80ff80;
  border-radius: 15px;
  display: flex;
  margin: 2em;
  z-index: 1;
  color: #80ff80;
  background-color: #141b18e7;
}

.workside {
  margin-top: auto;
  margin-bottom: auto;
}

.workdetails {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .wallword {
    font-size: 3.5rem;
  }

  .descript {
    display: none;
  }

  .worktitle {
    font-size: x-small;
  }

  .workcard {
    border: transparent;
  }

  .workplace {
    font-size: small;
  }

  .workdetails {
    display: flex;
    align-items: center;
  }
}
